.rounded-lg {
    border-radius: 1rem;
  }
  
.bg-color {
    background: #f5f5f5;
}

.custom-box {
    width: 17px;
    height: 17px;
}

/* Change color of buttons*/
.btn-primary, .btn-primary:active {
	color: #fff;
	background: #33cabb;
	vertical-align: middle;
	border: none;
}

/* Change color of buttons when hovered or focused*/
.btn-primary:hover, .btn-primary:focus {
	color: #fff;
	outline: none;
	background: #31bfb1 !important;
	box-shadow:none !important;
	border: none !important;
}


