<div class="container py-5">	
	  <!-- Register text -->
	  <div class="row mb-4">
	    <div class="col-lg-6 mx-auto text-center">
	      <h1 class="display-4 " style="color:#33cabb;font-size:160%">Izaberi urednike i recenzente naučnih oblasti</h1>
	    </div>
	  </div>
	  <!-- End -->
	
	  <div class="row">
	    <div class="col-lg-5 mx-auto">
	      <div class="bg-white rounded-lg shadow-sm p-3">
	       
	          <!-- registration form -->
	          <div>
              <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate > 
                <div *ngFor="let field of formFields" class="form-group">
                	<label *ngIf="field.type.name!='enum'" for={{field.id}}>{{field.label}}</label>

                  <input placeholder="{{field.label}}" type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id!='sifra'" class="form-control">
                	<input placeholder="{{field.label}}" type="password" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id=='sifra'" class="form-control">

                  <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'" class="form-control custom-box">
                  <input placeholder="{{field.label}}" type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'" class="form-control">
                  

                 <!--
 					<ng-select *ngIf="field.type.name=='enum' && field.id=='uredniciNaucnihOblasti'" name={{field.id}} ngModel [multiple]="true" [searchable]="true" [items]="enumValues" bindValue="enumKeys" bindLabel="enumValues" placeholder="{{field.label}}" >
                  </ng-select>
                
                <ng-select *ngIf="field.type.name=='enum' && field.id=='recenzentiNaucnihOblasti'" name={{field.id}} ngModel [multiple]="true" [searchable]="true" [items]="enumValues2" bindValue="enumKeys2" bindLabel="enumValues2" placeholder="{{field.label}}" >
                  </ng-select>   
                 
				 -->
                 
                </div>

				<div *ngFor="let item of enumerations; index as i" class="form-group"> 
					<label for={{names[i]}}> {{labels[i]}}</label>
					 <ng-select name={{names[i]}} ngModel [multiple]="true" [searchable]="true" [items]=enumerationsValues[i] bindValue="item" bindLabel=enumerationsValues[i] placeholder="{{labels[i]}}" >
                  	</ng-select>   
				</div>

                
                  
                
	              <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Izaberi </button>
					<div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
						{{errorMessage}}
					</div>

              </form>
            </div>
	          <!-- end registration form -->

	      </div>
	    </div>
	  </div>
</div>

