<div *ngFor="let editor of editors" >
  
  <p style="text-align: center;" class="pt-3"> Prodavac: <span style="color: #33cabb; font-weight: 600;"> {{editor.firstName}} {{editor.lastName}}</span>
  </p>

    <div *ngFor="let item of items"   class="row justify-content-center" > 
      <div *ngIf="item.editorInChief.id === editor.id">
        
          
          <app-paper-details-cart [journal]='item'></app-paper-details-cart>
       
      </div>
    </div>
    <div class="d-flex justify-content-center"> 
      <p  *ngIf="tokenService.isVistor" style="color: #33cabb;" > Da biste kupili rad, morate biti ulogovani!</p>
      <button class="btn btn-primary " *ngIf="tokenService.isBuyer"   (click)="buyFromThisSeller(editor)" >kupi od ovog prodavca</button>

    </div>

    <hr/>
</div>
