<div *ngIf="tasks.length == 0" class="text-center pt-2">
  <p  style="color: #33cabb; font-size: 25px;">Trenutno ne postoji ni jedan zadatak.</p>
</div> 

<!--div class="text-center pt-2" *ngIf="errorMessage.length != 0" >
    <p  style="color: #33cabb; font-size: 25px;">{{ errorMessage }} </p>  
</div> -->

<div class="container">
  <div  class="row justify-content-md-center" >
    <app-one-task *ngFor="let task of tasks"  
                  class="col-md-5 col-lg-4" 
                  [taskId]='task.taskId'>
    </app-one-task>  
  </div>  
</div>

