
/* Change color of buttons*/
.btn-primary, .btn-primary:active {
	color: #fff;
	background: #33cabb;
	vertical-align: middle;
	border: none;
}

/* Change color of buttons when hovered or focused*/
.btn-primary:hover, .btn-primary:focus {
	color: #fff;
	outline: none;
	background: #31bfb1 !important;
	box-shadow:none !important;
	border: none !important;
}

a {
	color: #33cabb;
  }
  
  /* Change color of buttons when hovered or focused*/
  a:hover,
  a:focus {
	color: darkslategray;
	outline: none;
	box-shadow: none !important;
	border: none !important;
  }
  