
  <div class="container py-5">	

      <!-- Register text -->
    <div class="row mb-4">
      <div class="col-lg-6 mx-auto text-center">
        <h1 class="display-4 "  style="color:#33cabb;font-size:160%">Prijava</h1>
      </div>
    </div>
      <!-- end register tekst-->

    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5 ">

          <div >
            <form name="form" (ngSubmit)="onLogin()" #f="ngForm">            
              <div  class="form-group">
                    <label >Korisničko ime</label>
                    <input name="username" required type="text" class="form-control" placeholder="Korisničko ime" [(ngModel)]="form.username">
                </div>

                <div  class="form-group">
                    <label >Šifra</label>
                    <input type="password" class="form-control" placeholder="Šifra" required name="password" [(ngModel)]="form.password">
                </div>

                <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Prijavi se  </button>


            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
