<div class="container pt-5">
  <div class="row">
    <div class="mx-auto px-2">
      <div class="bg-white rounded-lg shadow-sm p-3">
        <!-- registration form -->
        <div>
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
            <div *ngFor="let item of enumerations; index as i" class="form-group">
              <label for="{{names[i]}}"> {{labels[i]}}</label>
              <ol>
                <div *ngFor="let j of enumerationsValues[i]">
                  <li>{{j}}</li>
                </div>
              </ol>
              <!-- ng-select [multiple]="true" [searchable]="true" [items]=enumerationsValues[i] bindValue="item" bindLabel=enumerationsValues[i] placeholder="{{labels[i]}}" >
                  	</ng-select -->
            </div>

            <div *ngFor="let field of formFields" class="form-group">
              <label *ngIf="field.type.name != 'enum'" for="{{ field.id }}">{{field.label}}</label>

              <input readonly placeholder="{{ field.label }}" type="text" name="{{ field.id }}" value="{{ field.defaultValue }}" *ngIf="field.type.name == 'string' && field.id != 'sifra'" class="form-control" />
              <input readonly placeholder="{{ field.label }}" type="password" name="{{ field.id }}" *ngIf="field.type.name == 'string' && field.id == 'sifra'" class="form-control" />

              <div class="all-divs">
                <input type="checkbox" name="{{ field.id }}" ngModel *ngIf="field.type.name == 'boolean'" class="form-control custom-box "/>
              </div>
              <input readonly placeholder="{{ field.label }}" type="number" name="{{ field.id }}" *ngIf="field.type.name == 'long'" class="form-control" />
			
			</div>

            <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Odluči </button>
            <br/>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0" >
              {{ errorMessage }}
            </div>
          </form>
        </div>
        <!-- end registration form -->
      </div>
    </div>
  </div>
</div>
